# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Library
Dependency/boost_1_80_0
Dependency/FBX

.svn
.vs
*/x64
*/Debug
*/Release
*.tlog
*.log
*.ipdb
*.idb
*.pdb

Build